<div id="header-wrap">
  <div class="top-title"><a href="/" class="top-link">localwiki</a></div>

  <form action="/search" method="get" class="search-form">
    <input type="text" name="query">
    <input type="submit" value="検索">
  </form>
</div>

<div class="clear"></div>

<form action='/items/new' method='post'>
  <input type="text" name="item[name]"><br>
  <textarea rows="5" name="item[description]" class="item-description"></textarea><br>
  <input type="submit" value="送信する">
</form>

<%= @noresult %>

<ul>
  <% @items.each do |item| %>
    <li><a href="/items/<%= item.id %>"><%= h item.name %></a></li>
  <% end %>
</ul>
