<%= partial(:'shared/header') %>

<form action='/items/new' method='post'>
  <input type="text" name="item[name]"><br>
  <textarea name="item[description]" class="item-description"></textarea><br>
  <input type="submit" value="送信する">
</form>

<%= @noresult %>

<ul>
  <% @items.each do |item| %>
    <li><a href="/items/<%= item.id %>"><%= h item.name %></a></li>
  <% end %>
</ul>
