<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>local wiki</title>
</head>
<body>
  <h1>localwiki</h1>
  <form action='/items/new' method='post'>
    <input type="text" name="item[name]"><br>
    <textarea name="item[description]"></textarea><br>
    <input type="submit" value="送信する">
  </form>
  <ul>
    <% @items.each do |item| %>
      <li><a href="/items/<%= item.id %>"><%= item.name %></a></li>
    <% end %>
  </ul>
</body>
</html>
