<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css">
  <title><%= @title ? @title : "localwiki" %></title>
  <script src="/js/lib/jquery-2.1.4.min.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
