<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css">
  <title><%= @title ? @title : "localwiki" %></title>
</head>
<body>
  <%= yield %>
</body>
</html>
